.border_none{
    border: none;
    border-radius: 8px;
}

.border_none:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.password_container{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0px;
    margin-top: 10px;
}

.togglePassword{
    height: 24px;
    width: 24px;
    margin-right: 2px;
}